{% extends 'base.html' %} {% block body %}
<ul class="nav justify-content-center" style="padding-top: 1em">
  <li class="nav-item">
    <a class="btn btn-primary" href="{{ url_for('index') }}">Home</a>
  </li>
</ul>

<h3 class="my-2">Tags Management</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tag Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for tag in tags %}
    <tr>
      <td>{{ tag.name }}</td>
      <td>
        <a
          class="btn btn-sm btn-success"
          href="{{ url_for('tags_edit', tag_id=tag.id) }}"
          >Edit</a
        >
        <a
          class="btn btn-sm btn-danger"
          href="{{ url_for('tags_delete', tag_id=tag.id) }}"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
